---
---
// VARIABILES
// Media queries
$small_screen: {{ site.css.small.screen | default: "40em" }}
// BG SECTIONS
$bg_sections: {% if site.css.bg.sections.size %}{% for bg_sections in site.css.bg.sections %}{{ bg_sections }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% else %}Azure, HoneyDew, Ivory, LavenderBlush{% endif %}

@import riminino/mixins
@import riminino/grid
// @import syntax

// HUMANIZE

html
  background-color: WhiteSmoke

// BODY
body
  font-size: 18px
  margin: 0

main
  background-color: White

// TABLES
// Add cell paddings
table
  margin: 1em
  width: calc(100% - 2em)
  td, th
    padding: 0.75em
    vertical-align: top
  th
    border-bottom: 1px solid grey

// HEADINGS
// Correct h1 within article, aside, nav and section context
h1
  font-size: 2em
  margin: 0.67em 0
// Increase top margin
@include headings('.col ')
  margin-block-start: 3em
@include headings('section:first-child .col ', ':first-child')
  margin-block-start: 0

// CODE
// Font size
code, kbd, samp
  font-size: .92em
// Pre padding
pre.highlight
  padding: .8em
  white-space: pre-wrap

// LAYOUT
section
  padding: 1.5em

// SUMMARY
summary
  cursor: pointer
  outline: none

// LINKS
a
  &:link
    color: MediumBlue
    text-decoration: none
  &:visited
    color: MediumBlue
  &:hover
    color: Crimson
  &:active
    color: transparent

nav
  ul#access
    list-style: none
    position: absolute
    right: 1em
    top: 0em

footer
  ul
    list-style: none
    padding: 0 1em